//home sass
//imports
@import 'variables';

.left-content {
    color: $white;
    padding-left: 30px;
    padding-right: 30px;
}
.right-content {
    color: $white;
}
.event-img-wrap {
    margin-bottom: 20px;
}
//map styles
.google-maps {
     position: relative;
     padding-bottom: 56.62%; // This is the aspect ratio
     height: 0;
     overflow: hidden;
 }

.map-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    margin-top: 20px;
}
#map {
    height: 100%;
    max-height: 580px;
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .right-content {
    //    border-left: 2px solid $red-orange;
    }
}
