//variables

//variables
$main-font: 'Roboto', sans-serif;
$dk-gray: #292A36;
$lt-blue: #50D6EB;
$med-blue: #5089EB;
$pur-blue: #6550EB;
$pal-green: #89EB50;
$br-green: #50EB65;
$ht-purple: #EB50D6;
$flat-orange: #EBB250;
$red-orange: #EB6550;
$white: #ffffff;
$black: #292A36;
