//Main scss
///imports////

@import 'home';
@import 'variables';


//body
h1, h2, p {
    font-family: $main-font;
}

//header

header {
    width: 100%;
    height: 125px;
    background: $dk-gray;
}

#title {
  color: blue;
  background: red;
}
.one {
    background: green;
}
.two {
    background: blue;
}
