#title {
  color: blue;
  background: red;
}
.one {
    background: red;
}
.two {
    background: blue;
}
.google-maps {
     position: relative;
     padding-bottom: 75%; // This is the aspect ratio
     height: 0;
     overflow: hidden;
 }
 .google-maps iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100% !important;
     height: 500px !important;
     padding-left: 15px;
     padding-right: 15px;
     margin-top: 20px;
 }
